<launch>

  <node name="arbotix" pkg="arbotix_python" type="arbotix_driver" output="screen">
      <rosparam file="$(find turtlebot_arm_bringup)/config/arm.yaml" command="load" />
  </node>

  <node name="single_gripper_controller" pkg="arbotix_controllers" type="gripper_controller">
      <param name="model" value="singlesided"/>
      <param name="invert" value="true"/>
      <param name="pad_width" value="0.0254"/>
  </node>

  <node name="turtlebot_arm" pkg="turtlebot_arm" type="turtlebot_arm.py" output="screen"/>

</launch>
