<launch>

  <node name="recognizer" pkg="pocketsphinx" type="recognizer.py">
    <param name="lm" value="$(find voice_interaction)/config/nav_commands.lm"/>
    <param name="dict" value="$(find voice_interaction)/config/nav_commands.dic"/>
  </node>

  <node name="soundplay_node" pkg="sound_play" type="soundplay_node.py" output="screen"/>

  <node name="voice_interact" pkg="voice_interaction" type="voice_interact.py" output="screen">
    <param name="scale_linear" value="0.5" type="double"/>
    <param name="scale_angular" value="1.5" type="double"/>
  	<param name="max_speed" value="0.35"/>
  	<param name="start_speed" value="0.1"/>
  	<param name="linear_increment" value="0.05"/>
  	<param name="angular_increment" value="0.25"/>

  	<param name="voice" value="voice_don_diphone"/>
  	<param name="wavepath" value="$(find pi_speech_tutorial)/sounds"/>
    <remap from="voice_interact/cmd_vel" to="cmd_vel_mux/input/teleop"/>
  </node>

</launch>
